# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binarios y código objeto
*.bin
*.tsk
*.ctsk
*.tsko
*.tmp

# Sublime Text
*.sublime-project
*.sublime-workspace